<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.primary.TSiteMapper">
  <resultMap id="BaseResultMap" type="com.example.model.primary.TSite">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="site_code" jdbcType="VARCHAR" property="siteCode" />
    <result column="site_name" jdbcType="VARCHAR" property="siteName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_by_user_id" jdbcType="INTEGER" property="createByUserId" />
  </resultMap>
</mapper>